.upper-container {
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100px;
  margin: auto;
  background: rgba(54, 180, 149, 0.521);
  padding-top: 10px;
  box-shadow: 3px 3px 5px 6px rgba(24, 24, 44, 0.208);
  transition: box-shadow 1s;
}
.upper-container:hover {
  box-shadow: 5px 6px 8px 10px rgba(24, 24, 44, 0.308);
  transition: box-shadow 1s;
}

.game-point {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  font-size: 30px;
  margin-bottom: 8px;
  color: rgb(217, 230, 241);
  font-weight: bold;
}

.points {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 50%;
  float: left;
  font-size: 20px;
  font-weight: bold;
  color: rgb(109, 0, 0);
}

.num {
  display: flex;
  width: 50px;
  font-size: 26px;
  border-radius: 8px;
  margin-left: 7px;
  background: rgba(255, 255, 0, 0.714);
  padding: 3px;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition: font-size 1s;
}

.showScore-enter {
  opacity: 0;
  transform: scale(0.9);
}
.showScore-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 300ms, transform 300ms;
}
.showScore-exit {
  opacity: 1;
}
.showScore-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 300ms, transform 300ms;
}

.showPoints-enter {
  opacity: 0;
  transform: scale(0.9);
}
.showPoints-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 300ms, transform 300ms;
}
.showPoints-exit {
  opacity: 1;
}
.showPoints-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 300ms, transform 300ms;
}

.points.big {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 50%;
  float: left;
  font-size: 30px;
  font-weight: bold;
  color: rgb(109, 0, 0);
  transition: font-size 1s;
}

.num-big.big {
  display: flex;
  width: 50px;
  font-size: 26px;
  border-radius: 8px;
  margin-left: 7px;
  background: rgba(255, 255, 0, 0.714);
  padding: 3px;
  align-items: center;
  justify-content: center;
  text-align: center;
}
