.App {
  text-align: center;
  height: 100vh;
  max-width: 1000px;
  margin: auto;
}

.title {
  font-size: 26px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
  margin: auto;
}
