.App {
  text-align: center;
  height: 100vh;
  max-width: 1000px;
  margin: auto;
}

.title {
  font-size: 26px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 36px;
  margin: auto;
}
.box-container {
  display: flex;
  height: 80%;
  width: 80%;
  align-items: center;
  justify-content: center;
  background: rgba(13, 111, 202, 0.5);
  margin: auto;
  border-radius: 30px;
}

.game-box {
  display: flex;
  height: 80%;
  width: 80%;
  align-items: center;
  justify-content: center;
}
